/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500&display=swap');
/* # */

/* A */
.absol {
    position: absolute;
    top: 160px;
    right: 25px;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
/* B */
body {
    margin-top: 0 !important;
    font-family: 'Roboto', arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.button-collapse {
    display: block !important;
    position: absolute;
    color: white;
    padding: 15px;
}
.button-collapse i {
    font-size: 35px !important;
}
button.experience-button {
    background: #455A64;
    color: #fff;
    
}
.badge {
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    box-shadow: none;
    padding: 0px 0.5rem;
    background: #fff;
    cursor: default;
}
/* C */
.container-fluid {
    margin-left: 4%;
    margin-right: 3%;
}
/*
.card:hover {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3) !important;
}
*/
/* -webkit-box-shadow: 0 16px 24px 2px rgba(0, 77, 64, 0.3), 0 6px 30px 5px rgba(0, 77, 64, 0.3), 0 8px 10px -5px rgba(0, 77, 64, 0.5) !important;
    box-shadow: 0 16px 24px 2px rgba(0, 77, 64, 0.3), 0 6px 30px 5px rgba(0, 77, 64, 0.3), 0 8px 10px -5px rgba(0, 77, 64, 0.5) !important; */
.center-block {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.carousel {
    border: 5px solid #455A64;
    border-radius: 20px;
}
.carousel ul.indicators li {
    background: rgba(0, 0, 0, 0.2) !important;
}
.carousel ul.indicators li.active {
    background: rgba(0, 0, 0, 0.5) !important;
}
.carousel-item {
    padding: 20px;
    background: #fff !important;
}
/* D */
.dropdown-content {
    width: 100%;
}
.divider {
    height: 1px !important;
    margin-bottom: 8px !important;
}
.divider-resume-date {
    margin-bottom: 1px !important;
}
.date-text {
    font-size: 15px
}
/* E */
.experience-info-block {
    border: 3px solid #00695C;
    border-radius: 10px;
    padding: 10px;
}
.experience-info {
    padding-left: 20px;
}
/* F */

/* G */

/* H */
.hr {
    border-bottom: solid 5px #f88379  !important;
    width: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h6 {
    font-size: 19px;
}
.heavy {
    font-weight: 500;
}
/* I */
.intro-section {
    padding: 100px;
    background: url(https://static.pexels.com/photos/66997/pexels-photo-66997.jpeg) center center;
    background-size: cover;
    height: 450px;
    top: 0 !important;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
@media screen and (max-width: 768px) {
	.intro-section {
		padding: 0px !important;
	}
}
.intro-section-content {
    position: absolute;
    top: 145px;
    left: 0px;
    right: 0px;
}
.indent {
    text-indent: 20px;
}
/* J */

/* K */

/* L */
.location-title {
    color: #000;
    font-weight: 500;
    font-size: 15px;
}
/* M */
.mono {
    font-weight: 300;
    font-size: 35px;
}
main {
    flex: 1 0 auto;
}
.modal-header {
    position: fixed;
    top 0;
    left: 0;
    right: 0;
    background: #fafafa;
    z-index: 99;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.modal-content {
    margin-top: 50px;
}
/* N */
.nav-top {
    background: rgba(255,255,255,0);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    color: rgba(255,255,255,1);
    padding-right: 20px;
}
.nav-top a {
    border-radius: 10px;
}
.nav-secondary {
    background: #fff;
    color: #00BFA5;
    border-top: 5px solid #004D40;
}
.nav-secondary a {
    color: #00BFA5;
}
.nav-secondary a:hover {
    background: none;
    color: #00695C;
}
.nav-secondary a.active {
    background: none;
    color: #00695C;
}
.nav-profile-pic {
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
}
/* O */

/* P */
p {
    font-size: 17px;
}
.portfolio-project-titles {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    color: #000;
}
#portfolio img {
    border: 3px solid #00695C;
    border-radius: 10px;
}
/* Q */

/* R */

/* S */
.side-nav {
    width: 300px;
}
.side-nav li a{
    font-size: 16px !important;
    font-weight: 300;
}
.side-nav li {
    height: auto;
}
.skill-container {
    background: #eeeeee;
    height: 5px;
    margin-bottom: 10px;
}
.skill-level {
    height: 5px;
    background: #00BFA5;
}
.skill-level.html {
    width: 95%;
}
.skill-level.css {
    width: 95%;
}
.skill-level.python {
    width: 60%;
}
.skill-level.java {
    width: 60%;
}
.skill-level.javascript {
    width: 25%;
}
.skill-level.git {
    width: 40%;
}
.skill-level.macos {
    width: 95%;
}
.skill-level.windows {
    width: 75%;
}
.skill-level.swift {
    width: 25%;
}
.special-badge {
    background: rgba(0,0,0,0) /* fallback for old browsers */;
    background: -webkit-linear-gradient(to right, rgba(0,0,0,0.2), rgba(255,255,255,0.2), rgba(0,0,0,0.2)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(255,255,255,0.2), rgba(0,0,0,0.2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #fff; text-transform: lowercase; border-width: 8px; border-radius: 50px; padding-left: 30px; padding-right: 30px;
}
.section-header {
    font-size: 30px;
    font-weight: 300;
}
.school-info {
    margin-top: -10px;
}
/* T */
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f88379 !important;
    will-change: left, right
}
.tabs .tab a {
    color: #f88379 !important;
    
}
.tabs .tab a:hover {
    color: #f88379 !important;
}
.tabs-vertical {
    height: 100px !important;
}
/* U */

/* V */
.vcenter {
    vertical-align: middle;
}
/* W */

/* X */

/* Y */

/* Z */
