/* Theme coloring classes */
:root {
    --primary: #00695C;
    --primary-hover: #26A69A;
    --secondary: #00B8D4;
    --secondary-hover: #0097A7;
    --tertiary: #FF9100; 
    /*
        TODO: adopt this scheme
        --primary: #00B8D4;
        --primary-hover: #0097A7;
        --secondary: #C96DF7;
        --secondary-hover: #B840F5;
        --tertiary: #00695C;
        --tertiary-hover: #26A69A;
    */
}
.bg-primary
{
    background: var(--primary);
    color: #fff;
}
.bg-secondary
{
    background: var(--secondary);
    color: #fff;
}
.bg-primary *, .bg-secondary *
{
    color: #fff !important;
}
.text-primary
{
    color: var(--primary) !important;
}
.text-secondary
{
    color: var(--secondary) !important;
}
.text-tertiary
{
    color: var(--tertiary) !important;
}
.text-dark
{
    color: #666 !important;
}
body
{
    background: #fcfcfc;
}

/* Text styling classes*/
.indent
{
    text-indent: 30px;
}
.justify
{
    text-align: justify;
}
a
{
    color: #00B8D4; /* This is intentionally not set to var(--secondary) so it shows as blue */
}
a:hover
{
    color: var(--secondary-hover);
    text-decoration: underline;
}

/* Element positioning */
.center-block
{
    display: block;
    margin: auto;
}

/* Overriding/adding to UIKit CSS */
.uk-subnav-pill .uk-active a
{
    background: var(--secondary);
}
#experience .uk-card
{
    margin-bottom: 30px !important;
}
.experience-nav-side .uk-active a
{
    border-left: 2px solid var(--secondary);
    padding-left: 5px !important;
}
a.uk-button.bg-secondary:hover
{
    background: var(--secondary-hover);
}
a.uk-button.bg-primary:hover
{
    background: var(--primary-hover);
}
.uk-accordion-content
{
    border: 2px solid #666;
    padding: 15px;
}
main
{
    padding-top: 80px;
    padding-bottom: 60px;
}
.uk-tab-ul .uk-active a
{
    border-bottom-color: var(--secondary);
}
.uk-label-custom
{
    background: #fff;
    border-width: 1px;
    border-style: solid;
    color: #424242;
    font-size: 13px;
}
.content-next-to-label
{
    position: relative;
    top: 1.5px;
}
a.no-hover-decoration:hover
{
    text-decoration: none;
}
.uk-modal-body
{
    width: 90%;
}

/* Custom elements/styling */
.content-switcher
{
    background: #fff;
    border: 1px solid #f0f0f0;
    padding-left: 30px;
    padding-right: 30px;
}
.chips
{
    padding-left: 0px;
}
.chips li
{
    display: inline-flex;
}
.chip
{
    font-size: 13px;
    font-weight: 500;
    padding: 5px 12px;
    border-radius: 16px;
    background: #fff;
    border-style: solid;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
footer
{
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
    padding: 30px;
}
.profile-pic
{
    border: 3px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.school-section
{
    padding-top: 15px;
    padding-bottom: 15px;
}
#sevenplush-slider img
{
    max-height: 300px;
}
.hide
{
    display: none;
}
@media screen and (min-width: 720px)
{
    /* Responsive styling for the intro section (padding, hiding/showing images) */
    #intro
    {
        padding-left: 20%;
        padding-right: 20%;
    }
    #intro #me-intro-mobile
    {
        display: none;
    }
}
@media screen and (max-width: 720px)
{
    /* Continued responsive styling for the intro section (padding, hiding/showing images) */
    #intro #me-intro-desktop
    {
        display: none;
    }
}
