/* Import(s) */
@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

/* Font */
body
{
    font-family: Arial;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
}
h6
{
    font-size: 1.1em;
}
p, ul
{
    font-size: 1.02em;
}
p, li
{
    line-height: 1.2em
}
.light
{
    font-weight: 400;
}
.heavy
{
    font-weight: 500;
}
a.back
{
    text-decoration: none;
}
a.back:hover
{
    text-decoration: none;
}

/* Placement */
.center-align
{
    text-align: center;
}
.right-align
{
    text-align: right;
}
.indent
{
    padding-left: 30px;
}
ul
{
    margin-top: -15px;
    margin-bottom: 0px;
}
section
{
    margin-top: 30px;
}
.resume-block
{
    margin-top: 5px;
}

/* Text/background color */
.primary
{
    color: #00695C;
}
.secondary, a
{
    color: #00B8D4;
}
a
{
    text-decoration: underline;
}
a:hover
{
    color: #00B8D4;
    text-decoration: underline;
}
body
{
    background: #FAFAFA;
}
a.back
{
    color: #BDBDBD;
}
a.back:hover
{
    color: #BDBDBD;
}

/* Custom elements */
.resume
{
    border: 2px solid #9E9E9E;
}
.fine-spacer
{
    height: 3px;
}
.moderate-spacer
{
    height: 5px;
}
.bulk-spacer
{
    height: 30px;
}
.hr
{
    height: 1px;
    background: #000;
}
.floating-button
{
    border-radius: 50%;
    border: 3px solid;
    background: #FFF;
    width: 38px;
    height: 38px;
    text-decoration: none;
}
.floating-button:hover
{
    text-decoration: none;
    cursor: pointer;
}